.comments-container {
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 100px;
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.comments-container h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(158, 200, 255);
}

.comments-list-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.comment-title {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.comment-form-container {
    align-self: center;
}

.comment-title {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 12px;
    margin-left: 70px;
}

.comment-buttons {
    display: flex;
    visibility: hidden;
}

li:hover .comment-buttons {
    visibility: visible;
}

.comment-body {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    margin-left: 70px;
}

.comments-ul {
    width: 100%;
}

.comments-ul li {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.edit-button:hover {
    cursor: pointer;
}

.delete-button:hover {
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

.comment-form { 
    margin-top: 20px;
}

.fa-edit {
    font-size: 20px;
}

.fa-times-circle {
    font-size: 20px;
}

textarea {
    resize: none;
    overflow: auto;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.comment-submit {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(158, 200, 255);
    border-radius: 3px;
    font-size: 12px;
}

.comment-edit-form {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.comment-edit-submit {
    border-radius: 3px;
    background-color: rgb(158, 200, 255);
    margin-top: 5px;
}

.edit-form {
    font-size: 20px;
}

.pfp-comment {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.comment-pfp {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;    
}

.header-pfp {
    width: 60%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

